*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Brightorange: hsl(31, 77%, 52%);
--Darkcyan: hsl(184, 100%, 22%);
--Verydarkcyan: hsl(179, 100%, 13%);
--Transparentwhite: hsla(0, 0%, 100%, 0.75);
--Verylightgray: hsl(0, 0%, 95%);
--font: 'Lexend Deca','Arial';
}
.container p{
    font-size: 15px;
    font-family:var(--font);
}
.bg-orange{
    background-color: var(--Brightorange);
}
.bg-blue{
    background-color: var(--Darkcyan);
}
.bg-green{
    background-color: var(--Verydarkcyan);
}
.margin-top{
    margin-top: 20px;
}
.btn-sedans{
    padding: 10px 25px;
    border-radius: 40px;
    background-color:white;
    border: 1px solid white;
    color: var(--Brightorange);
    font-family: var(--font);
}
.btn-sedans:hover{
    background-color:hsl(31, 70%, 59%);
    border: 1px solid white;
    color: white;   
}

.btn-suvs{
    padding: 10px 25px;
    border-radius: 40px;
    background-color:white;
    border: 1px solid white;
    color: var(--Darkcyan);
    font-family: var(--font);
}
.btn-suvs:hover{
    padding: 10px 25px;
    border-radius: 40px;
    background-color:hsl(184, 46%, 59%);
    border: 1px solid white;
    color:white;
    font-family: var(--font);
}
.btn-luxury{
    padding: 10px 25px;
    border-radius: 40px;
    background-color:white;
    border: 1px solid white;
    color: var(--Verydarkcyan);
    font-family: var(--font);
}
.btn-luxury:hover{
    background-color:hsl(179, 35%, 51%);
    border: 1px solid white;
    color: white;
    font-family: var(--font);
}
.card h3{
    font-family: 'Big Shoulders Display','Arial';
    font-weight: 700;
    font-size: 2rem;
}
@media (min-width:610px) {
    .margin_top{
        margin-top: 100px;
    }
}
